{% extends "base.html" %}

{% block content %}
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quam iusto amet eius labore ipsam vel, rem sint explicabo porro odio hic debitis similique sed asperiores corrupti beatae et optio?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quam iusto amet eius labore ipsam vel, rem sint explicabo porro odio hic debitis similique sed asperiores corrupti beatae et optio?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quam iusto amet eius labore ipsam vel, rem sint explicabo porro odio hic debitis similique sed asperiores corrupti beatae et optio?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quam iusto amet eius labore ipsam vel, rem sint explicabo porro odio hic debitis similique sed asperiores corrupti beatae et optio?</p>
<a href="{{ url_for('aboutUs') }}">About Us</a>
<br>
<h1>{{name|capitalize}}</h1>
{{abc}}
{% endblock %}